body {
  max-width: 940px;
  min-width: 720px;
  margin: 10px auto 10px auto;
  padding: 20px;
  border: 4px double #c397f0;
}

body {
  background-color: #ffffff;
  color: #2f3435;
  font-family: Georgia, Times, serif;
}

h1 {
  font-weight: normal;
  color: #f097d9;
  margin: 0px;
}

h1 {
  padding-top: 20px;
  font-size: 2em; /* 32px */
  font-family: Arial, Verdana, sans-serif;
  font-size: 250%;
  line-height: 2em;
  text-align: center;
}

h2 {
  padding-top: 20px;
  font-size: 30px;
  font-family: Arial, Verdana, sans-serif;
  line-height: 2em;
  text-align: center;
}

h3 {
  line-height: 1.25em;
  font-weight: normal;
  text-align: justify;
  padding-bottom: 50px;
}

figcaption {
  font-size: 0.8em;
}

p.intro::first-letter {
  font-size: 200%;
}

p {
  font-size: 1em;
  line-height: 1.25em;
  padding: 10px;
  padding-left: 0;
  text-align: center;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
  padding-top: 20px;
  padding-bottom: 50px;
}

figure {
  text-align: center;
}

.left .right {
  float: left;
  width: 20%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

a {
  text-decoration: none;
}

a:link {
  color: #ffffff;
} /* unvisited */
a:visited {
  color: #ffffff;
} /* visited */
a:hover {
  color: #ee3e80;
} /* mouse over */
a:active {
  color: #ffffff;
} /* selected */

li {
  float: right;
  padding: 20px;
}

article {
  padding-top: 200px;
}

.container {
  margin: 0 auto;
  width: 80%;
}
